body {
  background: url("../images/topography.png");
  font-size: 2em;
}

p {
    margin-top: 10px;
    font-family: 'Bangers', cursive;
    font-size: 36px;
}

#logo {
  border: 5px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gifContainer {
  display: inline-block;
  margin: 10px;
}

.gif {
  border: 3px solid rgba(255, 0, 0, .5);
  border-radius: 10px;
}

.gifRating {
  text-align: center;
  margin-top: -2px;
  margin-bottom: 2px;
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;
}

.btn-warning {
  margin: 2px;
}

